aiofiles==24.1.0
aiohttp==3.11.14
aiosqlite==0.21.0
beautifulsoup4==4.13.4
dateparser==1.2.1
fuzzywuzzy==0.18.0
httpx==0.28.1
meme_generator==0.2.0
ncatbot==3.8.2
numpy==2.2.5
PicImageSearch==3.12.5
pil_utils==0.2.2
Pillow==11.2.1
pydantic==2.11.3
qrcode==8.0
Requests==2.32.3
ujson==5.10.0
websockets==10.4
pixivpy3
jmcomic
img2pdf


